<div class="row">
  <div class="col-sm">
    <h1>Quality Reviews</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae ea doloremque maxime, delectus ratione voluptas accusamus fugiat, vero velit deleniti ipsa veritatis harum in, facilis tempore quae error ab illum!</p>
    <div class="d-flex justify-content-around">
      <div>
        <h2>Existing users : </h2>
        <p>Login to manage all your organisations</p>
        <%= link_to "Login", new_user_session_path, class: "btn btn-primary"%>

      </div>
      <div>
        <h2>New user ?</h2>
        <p>Create account now, for free</p>
        <%= link_to "Register", new_user_registration_path, class: "btn btn-secondary"%>
      </div>
    </div>
  </div>
</div>
