<div class="homepage row mt-5 text-center justify-content-md-center">
  <div class="col-12 col-md-6">
    <%= image_tag "quality-reviews-logo.png" %>
    <h1>Site under construction.<br>Feel free to contact us:</h1>
    <div class="mt-4">
      <%= render 'shared/contact' %>
    </div>
  </div>
</div>
