.index-organisations .qr-card {
  display: flex;
  align-items: center;

  .card-left{
    max-width:: 300px;
    margin-right: 20px;
  }
  .card-center{
    flex-grow: 1;
  }
  .card-right{
    flex-shrink: 1;
    text-align: center;
  }
}

@media (max-width: 575px) {
  .index-organisations .qr-card {
    flex-direction: column;

    .card-center {
      text-align: center;
    }
  }
}
