<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
    <meta name="robots" content="noindex, nofollow">
  </head>
  <body>
    <div class="container">
      <%= yield %>
      <%= javascript_include_tag 'application' %>
      <%= javascript_pack_tag 'application' %>
    </div>
  </body>
</html>
